@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "Inria Sans", sans-serif;
    font-size: 1.1rem;
    background-color: #021B30;
    color: white;
}

/*Cabecera*/
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #011727;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}

.header_left {
    margin-left: 30px;
}

.header_right {
    margin-right: 30px;
}

.header_left .icon {
    width: 3.5rem;
    height: 3rem;
    background-image: url("../Images/icon.png");
    background-size: 100% 100%;
}

.header_left a {
    text-decoration: none;
    color: white;
}

.header_left .title {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    margin: 0 20px;
}

.header_right ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.header_right ul p {
    margin: 0.5rem 10px 0 0;
}

.header_right ul span {
    display: flex;
}

.header_right ul span li {
    margin: 5px 0.5rem;
}

.header_right ul li {
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.1s ease-in;
}

.header_right ul li:hover {
    transform: scale(1.05);
}

.header_right ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.4rem;
}

.header_right ul li a i {
    margin-right: 0.3rem;
}

/*Botones*/
.container_boton_atras {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2rem auto auto auto;
}

.atras {
    width: 6rem;
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: rgb(255, 165, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    transition: background-color 0.5s ease;
    font-family: "Inria Sans", sans-serif;
}

.atras:hover {
    background-color: rgb(235, 135, 0);
}

/*Vista película*/
.principal {
    display: flex;
    flex-direction: column;
}

.actor {
    display: flex;
    width: 75%;
    height: auto;
    margin: 2rem auto 10rem auto;
    padding: 4rem 3.5rem;
    background-color: rgba(0, 0, 0, 65%);
    border-radius: 10px;
}

.imagen {
    width: 100%;
    height: 80%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.info_principal {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 33rem;
    margin-top: 0.5rem;
}

.info_detallada {
    width: 80%;
    padding: 0 1rem 0 1rem;
}

.info_detallada span h3 {
    padding: 0.5rem 0 1rem 2vw;
    font-size: 1.2rem;
    text-align: justify;
}

.info_detallada span h3 span {
    font-weight: 200;
}

.biografia {
    line-height: 1.7rem;
}

.nombre {
    font-size: 1.9rem;
    text-align: center;
    padding-top: 5%;
}

/*Footer*/
.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #011727;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.privacidad {
    display: flex;
    justify-content: space-between;
}

.privacidad p {
    margin-right: 2rem;
    cursor: pointer;
}

.social_media a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 0.4rem;
}

.social_media a i {
    margin-right: 0.3rem;
    font-size: 2rem;
}

/*Responsive para pantallas más pequeñas*/
@media only screen and (max-width: 1600px) {
    .imagen {
        width: 285px;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 15px;
    }
    
    .info_principal {
        display: flex;
        flex-direction: column;
        width: 20rem;
        height: 33rem;
    }
}

/*Responsive .actor en columna*/
@media only screen and (max-width: 1300px) {
    .actor {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .info_detallada {
        width: 100%;
    }
}   

/*Responsive header y footer*/
@media only screen and (max-width: 1000px) {
    /*Cabecera*/
    header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 1;
        background-color: #011727;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .header_left,
    .header_right {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }

    .header_left .icon {
        width: 3.5rem;
        height: 3rem;
        background-image: url("../Images/icon.png");
        background-size: 100% 100%;
    }

    .header_left a {
        text-decoration: none;
        color: white;
    }

    .header_left .title {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .header_right {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .header_right ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        list-style-type: none;
        margin: 0 auto;
    }

    .header_right ul p {
        margin: 0.5rem 0;
    }

    .header_right ul li {
        margin: 5px 0;
        display: flex;
        align-items: center;
    }

    .header_right ul li a {
        margin: 0 0.2rem;
        padding: 0.3rem;
        font-size: 1.1rem;
    }

    .header_right ul li a i {
        margin-right: 0.3rem;
    }

    /*CONTENIDO PRINCIPAL*/
    .container_boton_atras {
        margin: 2rem auto auto auto;
    }
    

    /*FOOTER*/
    .privacidad p {
        font-size: 0.8rem;
    }
    
    .social_media {
        margin: 1rem auto 0.5rem auto;
    }

    .social_media a {
        text-decoration: none;
        color: white;
        border-radius: 10px;
        padding: 0.4rem;
    }

    .social_media a i {
        margin-right: 0.3rem;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 800px) { 
    .container_boton_atras {
        width: 94%;
    }

    .atras {
        font-size: 1.2rem;
    }

    .actor {
        width: 95%;
    }

    .info_detallada {
        width: 100%;
        padding: 0.5rem;
    }

    .info_detallada span h3 {
        padding: 0.5rem 0 1rem 0;
    }

    .info_detallada span h3 span {
        font-size: 1rem;
    }
}

/*Responsive para pantalla más pequeña*/
@media only screen and (max-width: 600px) { 
    .header_right ul li {
        margin: 5px 0;
    }

    .header_right ul li a {
        font-size: 1rem;
    }

    /*CONTENIDO PRINCIPAL*/
    .atras {
        transform: scale(0.9);
    }

    /*Footer*/
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px 20px;
    }

    .privacidad {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .privacidad p {
        margin: 5px 0;
        font-size: 0.8rem;
        cursor: pointer;
    }

}

/*Responsive para mobile 2*/
@media only screen and (max-width: 431px) { 
    .header_right ul li a {
        font-size: 0.75rem;
    }

    .container_boton_atras {
        margin: 1rem auto auto auto;
    }
}