@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inria Sans", sans-serif;
    font-size: 1.1rem;
    background-color: rgb(2, 16, 29, 93%);
    color: white;
}

/*Cabecera*/
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: rgb(2, 27, 48);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}

.header_left {
    margin-left: 30px;
}

.header_right {
    margin-right: 30px;
}

.header_left i {
    font-size: 2.5em;
    color: white;
}

.header_left .title {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    margin: 0 20px;
}

.header_right ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.header_right ul p {
    margin: 0.5rem 10px 0 0;
}

.header_right ul li {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header_right ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.4rem;
}

.header_right ul li a i {
    margin-right: 0.3rem;
}

/*Contenido body*/

/*Buscador y filtrado*/
.container_buscador {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.buscador, .categorias {
    width: 18rem;
    height: 3rem;
    padding: 0 1rem;
    background-color: #F5F5F5;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
}

.buscador {
    padding-right: 3rem;
    background-image: url("../Images/buscador_icon.svg");
    background-size: 20px 20px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    text-indent: 5%;
}

.buscador::placeholder {
    color: black;
}

.categorias {
    padding-right: 1.5rem;
    text-indent: 15%;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23424242" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0z"/></svg>');
    background-size: 30px 35px;
    background-position: calc(100% - 10px) 50%;
    background-repeat: no-repeat;
}

/*Texto principal*/
.titulo_main {
    width: 80vw;
    margin: 4rem auto 0 20rem;
}

/*Div principal de películas*/
.peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto 0 auto;
}

.pelicula {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 5rem 5% 20px 5%;
    cursor: pointer;
}

.poster {
    width: 200px;
    height: 300px;            
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.valoracion_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.7rem;
    top: 2%;
    border-radius: 50%;
    background-color: grey;
    left: 75%;
}

.valoracion {
    text-align: center;
    font-weight: bold;
}

.titulo {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 5%;
}

/*Paginación*/
.container_paginacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.container_paginacion .paginacion .pagina {
    width: 45px;
    height: 45px;
    margin-right: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(2, 27, 48);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}

#anterior, #siguiente {
    width: 6rem;
}

.container_paginacion .paginacion .pagina_actual {
    color: rgb(255, 188, 0);
}

.container_paginacion .numero_paginas {
    margin-top: 1rem;
}

/*Footer*/
.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: rgb(2, 27, 48);
    display: flex;
    justify-content: space-around;    
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.privacidad {
    display: flex;
    justify-content: space-between;
}

.privacidad p {
    margin-right: 2rem;
    cursor: pointer;
}

.social_media a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 0.4rem;
}

.social_media a i {
    margin-right: 0.3rem;
    font-size: 2.5rem;
}