@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inria Sans", sans-serif;
    font-size: 1.1rem;
    background-color: #021B30;
    color: white;
}

/*Cabecera*/
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #011727;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}

.header_left {
    margin-left: 30px;
}

.header_right {
    margin-right: 30px;
}

.header_left .icon {
    width: 3.5rem;
    height: 3rem;
    background-image: url("../Images/icon.png");
    background-size: 100% 100%;
}

.header_left .title {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    margin: 0 20px;
}

.header_right ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.header_right ul p {
    margin: 0.5rem 10px 0 0;
}

.header_right ul li {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header_right ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.4rem;
}

.header_right ul li a i {
    margin-right: 0.3rem;
}

/*Contenido body*/

/*Buscador*/
.container_buscador {
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem 0;
}

.buscador {
    width: 35%;
    height: 3rem;
    padding-left: 2%;
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    border-radius: 10em;
    transition: all .5s;
    font-family: inherit;
    font-size: 100%;
    outline: none;
}

.buscador:focus {
	background-color: #fff;
	border-color: #66CC75;
	box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

/*Texto principal*/
.texto_principal_container {
    display: flex;
    width: 80vw;
    justify-content: space-between;
    margin: 4rem auto 0 auto;
}

.texto_principal_container h2{
    font-size: 1.5rem;
}

/*Div principal de películas*/
.peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95vw;
    margin: 0 auto 0 auto;
    min-height: 57.5vh;
}

.pelicula {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 5rem 3% 20px 3%;
    cursor: pointer;
}

.poster {
    width: 200px;
    height: 300px;            
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.valoracion_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.7rem;
    top: 2%;
    border-radius: 50%;
    background-color: grey;
    left: 75%;
}

.valoracion {
    text-align: center;
    font-weight: bold;
}

.titulo {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 5%;
}

/*Paginación*/
.container_paginacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.container_paginacion .paginacion .pagina {
    width: 45px;
    height: 45px;
    margin-right: 0.4rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: rgb(2, 27, 48);
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    cursor: pointer;
}

#anterior, #siguiente {
    width: 6rem;
}

.container_paginacion .paginacion .pagina_actual {
    color: rgb(255, 188, 0);
}

.container_paginacion .numero_paginas {
    margin-top: 1rem;
}

/*Footer*/
.footer {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #011727;
    display: flex;
    justify-content: space-around;    
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.privacidad {
    display: flex;
    justify-content: space-between;
}

.privacidad p {
    margin-right: 2rem;
    cursor: pointer;
}

.social_media a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 0.4rem;
}

.social_media a i {
    margin-right: 0.3rem;
    font-size: 2rem;
}

/*Responsive para pantallas más pequeñas*/
@media only screen and (max-width: 1670px) { 
    .buscador {
        padding-left: 3%;
    }
}

/*Responsive para pantallas más pequeñas*/
@media only screen and (max-width: 950px) { 
    .buscador {
        width: 50%;
        padding-left: 4%;
    }

    .paginacion {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }

    #anterior, #siguiente {
        display: none;
    }

    .container_paginacion .paginacion .pagina { 
        margin-bottom: 4%;
    }
}

/*Responsive para pantallas más pequeñas*/
@media only screen and (max-width: 725px) { 
    .buscador {
        width: 65%;
        padding-left: 5%;
    }

    .header_left {
        margin-left: 0;
    }

    .header_right {
        margin-right: 0;
    }

    .privacidad p {
        font-size: 2.5vw;
        margin-right: 1rem;
    }

    .social_media a i{
        font-size: 4vw;
        margin-right: 0;
    }
}

/*Responsive para pantallas más pequeñas*/
@media only screen and (max-width: 670px) { 
    .buscador {
        width: 70%;
        padding-left: 7%;
    }

    .header_left .icon {
        width: 3rem;
        height: 2.8rem;
    }

    .header_left .title {
        font-size: 4vw;
        margin: 0 10px;
    }

    .header_right ul li a {
        font-size: 2.2vw;
    }

    .texto_principal_container {
        display: flex;
        width: 90vw;
        justify-content: space-between;
        margin: 4rem 0 0 3%;
    }

    .texto_principal_container h2 {
        font-size: 1.3rem;
    }

    .paginacion {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
}