@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inria Sans", sans-serif;
    font-size: 1.1rem;
    background-color: #021B30;
    color: white;
}

/*Cabecera*/
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #011727;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.header_left,
.header_right {
    display: flex;
    align-items: center;
}

.header_left {
    margin-left: 30px;
}

.header_right {
    margin-right: 30px;
}

.header_left .icon {
    width: 3.5rem;
    height: 3rem;
    background-image: url("../Images/icon.png");
    background-size: 100% 100%;
}

.header_left a {
    text-decoration: none;
    color: white;
}

.header_left .title {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 1.9rem;
    margin: 0 20px;
}

.header_right ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.header_right ul p {
    margin: 0.5rem 10px 0 0;
}

.header_right ul span {
    display: flex;
}

.header_right ul span li {
    margin: 5px 0.5rem;
}

.header_right ul li {
    margin-right: 10px;
    display: flex;
    align-items: center;
    transition: transform 0.1s ease-in;
}

.header_right ul li:hover {
    transform: scale(1.05);
}

.header_right ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 0.4rem;
}

.header_right ul li a i {
    margin-right: 0.3rem;
}

/*Div principal del perfil*/
.perfil {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: auto;
    margin: 2rem auto 10% auto;
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 15px;
}

.perfil h1 {
    margin: 2rem auto 1rem 3rem;
}

.perfil p {
    margin: 1vw 3vw 2rem 2.5vw;
}

.perfil .info_editar {
    display: none;
    margin: 0rem auto 1rem 3rem;
}

.perfil .info_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
}

.perfil .imagen {
    width: 10.5rem;
    height: 10.5rem;
    background-image: url("../Images/usuario_por_defecto.png");
    background-size: 100% 100%;
    border-radius: 50%;
}

/*Botones*/
button {
    font-family: "Inria Sans", sans-serif;
}

.container_boton_atras {
    display: flex;
    flex-direction: column;
    width: 29rem;
    margin: 2rem auto auto auto;
}

.atras {
    width: 6rem;
    height: 2.5rem;
    margin: 0 0 0 0;
    font-size: 1.25rem;
    background-color: rgb(255, 165, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-family: "Inria Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.atras:hover {
    background-color: rgb(235, 135, 0);
}

.perfil .editar_perfil_button {
    width: 12rem;
    height: 2.5rem;
    font-size: 1.25rem;
    background-color: rgb(255, 165, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-family: "Inria Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.editar_perfil_button:hover {
    background-color: rgb(235, 135, 0);
}

.perfil .eliminar_perfil_button {
    width: 12rem;
    height: 2.5rem;
    margin-top: 9rem;
    margin-bottom: 4rem;
    font-size: 1.25rem;
    background-color: rgb(255, 50, 50);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-family: "Inria Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.eliminar_perfil_button:hover {
    background-color: rgb(255, 25, 0);
}

#editar_ver_password {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 2.5rem;
    font-size: 1.1rem;
    background-color: #043962;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-family: "Inria Sans", sans-serif;
    transition: background-color 0.5s ease;
}

#editar_ver_password:hover {
    background-color: #021B30;
}

.boton_cancelar {
    width: 7rem;
    height: 2.5rem;
    margin-top: 3rem;
    font-size: 1.1rem;
    background-color: rgb(255, 165, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-family: "Inria Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.boton_cancelar:hover {
    background-color: rgb(235, 135, 0);
}

.boton_enviar {
    width: 40%;
    height: 2.5rem;
    font-size: 1.1rem;
    background-color: rgb(235, 135, 0);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid;
    font-family: "Inria Sans", sans-serif;
    transition: background-color 0.5s ease;
}

.boton_enviar:hover {
    background-color: rgb(255, 165, 0);
}

/*Formulario de edición*/
.perfil form {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.perfil form label {
    margin: 1rem auto 1vh 3.5rem;
}

.perfil form input {
    width: 80%;
    height: 3rem;
    margin-left: 10%;
    padding-left: 5%;
    border: 2px solid black;
    border-radius: 10px;
}

.perfil form .botones {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 3rem auto;
}

.container_botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input_imagen {
    display: none;
}

.imagen_label {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 75%;
    margin-top: 60%;
    border-radius: 50%;
    background-color: #043962;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.imagen_label:hover {
    background-color: #0056b3;
}

/*Modal de confirmación para eliminar perfil*/
.contenedor_modal {
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    display: flex;
    flex-direction: row-reverse;
    width: 35rem;
    height: 15rem;
    margin: 18% auto;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}

.columna_modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensaje_modal {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: black;
}

.eliminar_cuenta_modal {
    display: none;
    width: 50%;
    height: 2.5rem;
    margin-top: 3vh;
    font-size: 1.2rem;
    background-color: rgb(255, 50, 50);
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.cerrar_modal {
    color: grey;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.cerrar_modal:hover,
.cerrar_modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Footer*/
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background-color: #011727;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    padding: 10px 20px;
}

.privacidad {
    display: flex;
    justify-content: space-between;
}

.privacidad p {
    margin-right: 2rem;
    cursor: pointer;
}

.social_media a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 0.4rem;
}

.social_media a i {
    margin-right: 0.3rem;
    font-size: 2rem;
}

/*Responsive para pantallas más pequeñas*/
@media only screen and (max-width: 1000px) {
    
    /*Cabecera*/
    header {
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 1;
        background-color: #011727;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .header_left,
    .header_right {
        display: flex;
        align-items: center;
        margin: 5px 0;
    }

    .header_left .icon {
        width: 3.5rem;
        height: 3rem;
        background-image: url("../Images/icon.png");
        background-size: 100% 100%;
    }

    .header_left a {
        text-decoration: none;
        color: white;
    }

    .header_left .title {
        font-family: "Montserrat", sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        margin: 0 10px;
    }

    .header_right {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .header_right ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        list-style-type: none;
        margin: 0 auto;
    }

    .header_right ul p {
        margin: 0.5rem 0;
    }

    .header_right ul li {
        margin: 5px 0;
        display: flex;
        align-items: center;
    }

    .header_right ul li a {
        margin: 0 0.2rem;
        padding: 0.3rem;
        font-size: 1.1rem;
    }

    .header_right ul li a i {
        margin-right: 0.3rem;
    }

    /*CONTENIDO PRINCIPAL*/
    .container_boton_atras {
        margin: 2rem auto auto auto;
    }
    
    .perfil {
        margin: 2rem auto 25% auto;
    }

    /*FOOTER*/
    .privacidad p {
        font-size: 0.8rem;
    }
    
    .social_media {
        margin: 1rem auto 0.5rem auto;
    }

    .social_media a {
        text-decoration: none;
        color: white;
        border-radius: 10px;
        padding: 0.4rem;
    }

    .social_media a i {
        margin-right: 0.3rem;
        font-size: 1.5rem;
    }
}

/*Responsive para modal*/
@media only screen and (max-width: 700px) { 
    .modal {
        width: 95%;
    }
}

/*Responsive para mobile*/
@media only screen and (max-width: 590px) { 
    .header_right ul li {
        margin: 5px 0;
    }

    .header_right ul li a {
        font-size: 1rem;
    }

    /*CONTENIDO PRINCIPAL*/
    .container_boton_atras {
        width: 24rem;
        margin: 2rem auto auto auto;
    }

    .perfil {
        width: 25rem;
        margin: 2rem auto 20% auto;
    }

    .perfil .imagen {
        width: 9.5rem;
        height: 9.5rem;
    }

    .perfil h1 {
        margin: 2rem auto 1rem 2rem;
    }

    .perfil .info_editar {
        margin: 0rem auto 1rem 2rem;
    }

    .perfil form label {
        margin: 1rem auto 1vh 2rem;
    }
    
    .perfil form input {
        width: 85%;
        margin-left: 7%;
    }

    /*Footer*/
    .footer {
        position: sticky;
        width: 100%;
        bottom: 0;
        z-index: 1;
        background-color: #011727;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10px 20px;
    }

    .privacidad {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .privacidad p {
        margin: 5px 0;
        font-size: 0.8rem;
        cursor: pointer;
    }

}

/*Responsive para mobile*/
@media only screen and (max-width: 431px) { 
    .header_right ul li a {
        font-size: 0.75rem;
    }

    .container_boton_atras {
        width: 95%;
        margin: 7% auto auto auto;
    }

    .perfil {
        width: 95%;
    }

    .perfil h1 {
        font-size: 1.8rem;
    }

    .perfil .info_editar {
        font-size: 1rem;
    }

    .perfil form label {
        font-size: 0.9rem;
    }

    .perfil form .botones {
        width: 85%;
    }

    .atras {
        transform: scale(0.8);
    }

    .editar_perfil_button, 
    .eliminar_perfil_button,
    .boton_cancelar {
        transform: scale(0.9);
    }

    #editar_ver_password, 
    .boton_enviar {
        transform: scale(0.95);
        font-size: 0.9rem;
    }
}