<footer>
    <div class="footer">
        <div class="privacidad">
            <p>Términos y condiciones</p>
            <p>Política y privacidad</p>
        </div>
        
        <div class="social_media">
            <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.facebook.com/?locale=es_ES"><i class="fa-brands fa-facebook"></i></a>
        </div>
    </div>
</footer>