<div id="iniciar_principal" class="principal">
    <button id="atras" class="atras">Volver</button>
    
    <h1>Iniciar sesión</h1>
    <p>Introduce tus credenciales para iniciar sesión</p>

    <form id="inicio_form">
        <input type="text" id="username_inicio" name="username_inicio" class="username" placeholder="Usuario o E-mail" autocomplete="off"/>
        <input type="password" id="password_inicio" name="password_inicio" class="password" placeholder="Contraseña" autocomplete="off"/>
        <button id="boton_inicio" name="boton_inicio" class="boton_enviar">Iniciar sesión</button>
    </form>
</div>